@import url(base.css);

html,body{
	width:100%;
	height: 100%;
	background: #f7f7f7;
	overflow: hidden;
}

/*头部*/
.tou{
	width: 100%;
	height: .85rem;
	background: url(../image/py-re.png) round;

}
.back{
	width: .44rem;
	height: .72rem;
	float: left;
	/*background: red;*/

}
.back img{
	width: 100%;
	margin-top: .2rem;
	margin-left: .1rem;
}
.tj{
	width: 2rem;
	height: 100%;
	/*background: red;*/
/*	float: left;*/
	margin: 0 auto;
	text-align: center;
	line-height: .85rem;

}
.tj h2{
	color: #ffffff;
	font-weight: 200;
	line-height: .85rem;
	font-size: 18px;
}
/*头部结束*/
/*列表开始*/
.lie{
	width: 7.01rem;
	height: 1.32rem;
	/*background: red;*/
	margin: 0 auto;
	border-bottom: 1px dashed #BCBCBC ;
	box-sizing:border-box;
}
.one{
	width: 3.48rem;
	height: .26rem;
	/*background: yellow;*/
	position: absolute;
	margin-top: .49rem;
	margin-left: .6rem;
}
.yuan{
	width: .15rem;
	height: .15rem;
	background: #808080;
	border-radius: 50%;
	margin-top: .06rem;
	float: left;
	line-height: .15rem;
}
.z{
	width: 3rem;
	height: 100%;
	/*background: blue;*/
	float: left;
	margin-left: .11rem;
	line-height: .15rem;
}
.z h2{
	font-size: 13px;
	float: left;
}
.z p{
	font-size: 13px;
	float: left;
}
.dh{
	width: 5.3rem;
	height: .4rem;
	/*background: pink;*/
	position: absolute;
	margin-left: .86rem;
	margin-top: .9rem;
	line-height: .4rem;


}
.dh p{
	color: #30CCFF;
	font-size: 13px;
	line-height: .4rem;

}


.liet{
	width: 7rem;
	height: .57rem;
	margin: 0 auto;
	/*background: red;*/
	border-bottom: 1px dashed #BCBCBC ;
	box-sizing:border-box;
	line-height: .57rem;
}
.liet:nth-child(6){
	border-bottom: none;
}
.yue{
	width: .15rem;
	height: .15rem;
	background: #808080;
	border-radius: 50%;
	float: left;
	margin-left: .6rem;
	margin-top: .19rem;
}
.zz{
	width: 4rem;
	height: 100%;
	/*background: blue;*/
	float: left;
	margin-left: .11rem;
	line-height: .15rem;
}
.zz h2{
	font-size: 13px;
	float: left;
	line-height: .57rem;

}
.zz p{
	font-size: 13px;
	float: left;
	line-height: .57rem;

}
.zz h3{
	line-height: .57rem;
}

/*列表完*/

/*找人代付*/
.tab{
	width: 7.02rem;
	height: .84rem;
	margin: .93rem auto;
	/*background: red;*/
	/*border-radius: 5px;*/
}
.left{
	width: 50%;
	height: 100%;
	background: #66CBE8;
	float: left;
	border-radius: 5px 0 0 5px;
	text-align: center;
}
.left p{
	color: #fff;
	font-weight: 200;
	line-height: .84rem;
	font-size: 14px;

}
.right{
	width: 50%;
	height: 100%;
	background: #F2B634;
	float: right;
	border-radius: 0 5px 5px 0;
	text-align: center;
}
.right p{
	color: #fff;
	font-weight: 200;
	line-height: .84rem;
	font-size: 14px;

}
/*找人代付完*/

/*底部开始*/
.foot{
	width: 4.54rem;
	height: .7rem;
	/*background: red;*/
	margin: 3rem auto;
}
.kai{
	width: auto;
	height: .28rem;
	/*background: yellow;*/
	margin: 0 auto;
	text-align: center;

}
.kai p{
	color: #A1A1A1;
	font-size: 13px;
	line-height: .28rem;
}
.en{
	width:auto;
	height: .2rem;
	/*background: blue;*/
	margin: .2rem auto;
	text-align: center;
	
}
.en p{
	color: #a1a1a1;
	font-size: 8px;
	line-height: .2rem;
}

/*底部结束*/