@import url(base.css);
.zyn_gl_header{
    width:100%;
    /*height:1.4rem;*/
    height:0.94rem;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
}
.zyn_gl_header>.zhe{
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.6);
    position: relative;
    z-index:100;
    padding-top:1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.zyn_gl_header>.zhe>.line{
    width:6.28rem;
    height:1px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    /*top:0.46rem;*/
    top:0;
    left:0;
    right:0;
    margin:0 auto;
}
.zyn_gl_header>.zhe>.shortLine{
    width:0.38rem;
    height:3px;
    background: rgba(255,255,255,1);
    position: absolute;
    /*top:0.64rem;*/
    top:0.16rem;
    left:0;
    right:0;
    margin:0 auto;
}
.zyn_gl_header>.zhe>.back{
    width:0.45rem;
    height:0.45rem;
    position: absolute;
    left:0.4rem;
    /*top:0.75rem;*/
    top:0.29rem;
}
.zyn_gl_header>.zhe>.back>a{
    display: block;
    width: 100%;
    height:100%;
}
.zyn_gl_header>.zhe>.back>a>img{
    width:100%;
    height:100%;
}
.zyn_gl_header>.zhe>.textBox{
    width:100%;
    height:auto;
    /*margin-top: 0.75rem;*/
    margin-top: 0.29rem;
    text-align: center;
}
.zyn_gl_header>.zhe>.textBox>h3{
    color: #fff;
    font-size: 0.24rem;
    text-transform: uppercase;
}
.zyn_gl_header>.zhe>.line>.dot{
    width:5px;
    height:5px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top:-2px;
    z-index: 1;
}
/*banner*/
.zyn_bannerBox{
    width:100%;
    /*height:4.7rem;*/
    height:4.24rem;
    /*margin-top: 1.4rem;*/
}
.zyn_bannerBox>img{
    width:100%;
    height:100%;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px!important;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff!important;
    opacity: 1!important;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #FCE118!important;
}
/*主体*/
.zyn_gl_main{
    width:100%;
    height:auto;
}
.zyn_gl_main>.tabBox{
    width:100%;
    height:1.07rem;
    background: #C9C9C9;
}
.zyn_gl_main>.tabBox>li{
    width:50%;
    height:100%;
    background: #fff;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.zyn_gl_main>.tabBox>li:nth-child(1){
    border-right: 1px solid #C9C9C9;
}
.zyn_gl_main>.tabBox>li:nth-child(2){
    border-left: 1px solid #C9C9C9;
}
.zyn_gl_main>.tabBox>li>a{
    display: block;
    width:100%;
    height:100%;
    text-align: center;
    line-height: 1.07rem;
}
.zyn_gl_main>.tabBox>li>a>img{
    width:0.35rem;
    height:0.35rem;
    vertical-align: middle;
}
.zyn_gl_main>.tabBox>li>a>span{
    font-size: 0.26rem;
    color: #1D4C5E;
}
.zyn_gl_main>.title{
    width:100%;
    height:0.68rem;
    background: #EAE8E8;
    padding:0 0.28rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.zyn_gl_main>.title>span{
    width:3px;
    height:0.24rem;
    float: left;
    background: #325D6D;
    margin-top: 0.22rem;
    margin-right: 0.1rem;
}
.zyn_gl_main>.title>h3{
    height:100%;
    font-size:0.24rem;
    color: #26282C;
    line-height: 0.78rem;
}
.zyn_gl_main>.itemBox{
    width:100%;
    height:auto;
    padding:0.2rem 0.25rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.zyn_gl_main>.itemBox>li{
    width:100%;
    height:3.5rem;
}
.zyn_gl_main>.itemBox>li>.gl_items{
    width:100%;
    height:100%;
    padding:0.27rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.zyn_gl_main>.itemBox>li>.gl_items>a{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.zyn_gl_main>.itemBox>li>.gl_items>img{
    width:100%;
    height:100%;
}
.zyn_gl_main>.itemBox>li>.gl_items>h2,.zyn_gl_main>.itemBox>li>.gl_items>h2>span{
    font-size: 0.28rem;
    color: #fff;
}
.zyn_gl_main>.itemBox>li>.gl_items>h6,.zyn_gl_main>.itemBox>li>.gl_items>h6>span{
    font-size: 0.18rem;
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}
@media screen and (max-width: 320px){
    .zyn_gl_main>.itemBox>li>.gl_items>h6,.zyn_gl_main>.itemBox>li>.gl_items>h6{
        width:104%;
        margin-left:-2%;
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        transform: scale(0.95);
    }
}
.zyn_gl_main>.itemBox>li>.gl_items>.time{
    margin-top: 0.25rem;
}
.zyn_gl_main>.itemBox>li>.gl_items>.time>span{
    width:0.12rem;
    height:0.12rem;
    float: left;
    margin-top: 3px;
    background: #FCC71F;
    border-radius: 50%;
    margin-right: 0.1rem;
}
.zyn_gl_main>.itemBox>li>.gl_items>.time>h6{
    float: left;
    font-size: 0.16rem;
    color: #fff;
}
.zyn_gl_main>.itemBox>li>.gl_items>.time>h6>span{
    font-size: 0.16rem;
    font-weight: 100;
    color: #fff;
}
.zyn_gl_main>.itemBox>li>.gl_items>.more{
    margin-top: 1.75rem;
    width:1.65rem;
    height:0.43rem;
    background: #fff;
    border-radius: 20px;
    padding:0 0 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.zyn_gl_main>.itemBox>li>.gl_items>.more>a{
    display: block;
    width:100%;
    height:100%;
}
.zyn_gl_main>.itemBox>li>.gl_items>.more>a>span{
    font-size: 0.1rem!important;
    color: #A69A9A;
    line-height: 0.4rem;
}
.zyn_gl_main>.itemBox>li>.gl_items>.more>a>img{
    width:0.2rem;
    height: 0.2rem;
    vertical-align: middle;
}
















